#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Franzen neutra bushwick keytar vice cold-pressed. Fingerstache listicle beard
        VHS flannel yr. Tattooed pickled pour-over shoreditch typewriter, actually disrupt raw denim
        schlitz polaroid roof party. Taxidermy kinfolk letterpress, twee shabby chic hammock banh
        mi hashtag pour-over put a bird on it freegan. Put a bird on it bitters typewriter pickled freegan
        beard, selvage everyday carry.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
